@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&family=Montserrat:wght@200;400&display=swap');


*{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h1, h2 {
  font-family: 'Montserrat';
  font-weight: 200;
}

p {
  font-family: 'Martel', serif;
  color: #14100D;
  font-size: 20px;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

/* HEADER */

header{
  background: #CCC6C2;
}

.header-container{
  width: 1170px;
  height: 128px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 370px;
}

.menu{
  font-family: "Martel", serif;
  display: flex;
}

.menu a {
  color: #520;
}

.menu li{
  margin-right: 32px;
  font-size: 20px;
}

.menu li:last-child{
  margin-right: 0;
  border-bottom: 2px solid #246B61;
}

/* INTRO */

.intro {
  height: 640px;
  background-image: url('../img/intro.png');
  display: flex;
  align-items: center;
}

.intro h1{
  color: #fff;
  font-size: 64px;
}

.intro .inovadores {
  color: #fca;
  font-weight: 400;
}

.intro h2 {
  font-size: 28px;
  color: #fff;
}

/* PRODUTOS */

.produtos {
  margin-top: 64px;
}

.produtos-container {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template: 'nossos-produtos produtos-img produtos-img'
                  / 1fr 1fr 1fr;
}

.nossos-produtos {
  grid-area: nossos-produtos;
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nossos-produtos p {
  width: 370px;
}

.button-mobile {
  display: none !important;
}

.produtos-img {
  grid-area: produtos-img;
  display: grid;
  grid-template-areas: 'img img'
                        'img img';
  gap: 15px;
}

.produtos h2 {
  font-size: 48px;
  color: #520;
  position: relative;
  margin-left: 26px;
  
}

.produtos h2 span {
  font-weight: 400;
}

.produtos h2::after {
  position: absolute;
  top: 0;
  left: -26px;
  content: '';
  display: block;
  width: 2px;
  height: 128px;
  background: #520;
}

.button {
  width: 380px;
  height: 64px;
  
  grid-area: btn;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 23px 32px;
  border: none;

  background: linear-gradient(#43857C, #246B61);
  color: #fff;
  font-family: 'Martel';
  font-size: 24px;
  
}

.button:hover {
  background: linear-gradient(#6BA099, #43857C);
}

.button img {
  width: 13px;
  height: 13px;
}

/* SOBRE */

.sobre {
  height: 640px;
  background-image: url('../img/sobre.png');
  background-size: cover;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.sobre-container {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'item item'
                        'item item';
}

.sobre-item {
  width: 570px;
}

.title-fca {
  font-size: 48px;
  color: #fca;
}

.title-fca span {
  font-weight: 400;
}

.title-fca::after {
  content: '';
  display: block;
  width: 256px;
  height: 2px;
  background: #fca;
  margin-top: 12px;
  margin-bottom: 20px;
}

.sobre-item p {
  font-size: 20px;
  color: #fff;
}

/* ORÇAMENTO */

.orcamento {
  margin-top: 64px;
}

.orcamento p {
  color: #14100D;
}

.orcamento-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.orcamento-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 572px;
}

.orcamento-title h2 {
  font-size: 48px;
  color: #520;
  position: relative;
  margin-left: 26px;
  margin-bottom: 115px;
  width: 280px;
}

.orcamento-title h2 span {
  font-weight: 400;
}

.orcamento-title h2::after {
  position: absolute;
  top: 0;
  left: -26px;
  content: '';
  display: block;
  width: 2px;
  height: 128px;
  background: #520;
}

.orcamento-itens {
  width: 572px;
}

.orcamento-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.orcamento-itens p {
  width: 480px;
}

/* CONTATO */

.contato {
  height: 640px;
  background: #6BA099;
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.contato-container {
  width: 1170px;
  margin: 0 auto;
}

.contato img {
  height: 70px;
}

.phones-item:last-child img {
  width: 74px;
}

.redes {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 64px;
  flex-flow: row wrap;
}

.phones {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 64px;
  flex-flow: row wrap;
}

.phones-item {
  display: flex;
}

.phones-span {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.phones-span span:first-child {
  font-weight: bold;
}

.phones-span span {
  font-family: 'Montserrat', sans-serif;
  color: #fca;
  margin-bottom: 15px;
}

/* FOOTER */

footer {
  height: 128px;
  background: #CCC6C2;
}

.footer-container {
  height: 128px;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  color: #520;
}

footer a {
  color: #520;
}

footer span {
  font-weight: bold;
  color: #520;
}

/* RESPONSIVO */

@media screen and (max-width: 1000px) {

  .container {
    width: 500px;
  }

  /* header */

  .header-container {
    width: 500px;
  }

  .logo {
    width: 250px;
  }

  .menu li {
    margin-right: 10px;
    font-size: 16px;
  }

  /* intro */

  .intro h1 {
    font-size: 40px;
  }

  .intro h2 {
    font-size: 20px;
  }

  /* PRODUTOS */

  .produtos-container {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template: 'nossos-produtos'
                    'produtos-img'
                    / 1fr;
  }

  .nossos-produtos {
    
    height: auto;
  }

  .produtos h2 {
    font-size: 32px;
    width: 190px;
    margin-left: 15px;
    margin-bottom: 32px;
    grid-area: h2;
  }

  .produtos h2::after {
    left: -14px;
    height: 90px;
  }

  .nossos-produtos p {
    font-size: 14px;
    width: 500px;
    margin-bottom: 32px;
    grid-area: p;
  }

  .button {
    width: 240px;
    height: 50px;
    margin-bottom: 32px;
    font-size: 16px;
  }

  .button img {
    width: 13px !important;
  }

  .button-desktop {
    display: none;
  }

  .button-mobile {
    display: flex !important;
  }

  .produtos-img {
    grid-template-areas: 'img img'
                          'img img'
                          'btn btn';
  }

  .produtos-img img {
    width: 240px;
  }

  /* SOBRE */

  .sobre-container {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'item'
                          'item'
                          'item';
  }

  .sobre-item {
    width: 500px;
  }
  
  .title-fca {
    font-size: 40px;
  }
  
  .title-fca::after {
    width: 192px;
  }

  .title-fca span {
    font-weight: 400;
  }
  
  .sobre-item p {
    font-size: 14px;
    color: #fff;
  }

  /* ORCAMENTO */

  .orcamento-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .orcamento-title {
    width: 500px;
  }

  .orcamento-title h2 {
    font-size: 32px;
    width: 190px;
    margin-left: 15px;
    margin-bottom: 64px;
    grid-area: h2;
  }

  .orcamento-title h2::after {
    left: -14px;
    height: 90px;
  }

  .orcamento-title p {
    margin-bottom: 64px;
  }

  .orcamento p {
    font-size: 14px;
  }

  .orcamento-itens {
    width: 500px;
  }
  
  .orcamento-itens p {
    width: 400px;
  }

  /* CONTATO */

  .contato {
    padding-top: 50px;
  }

  .contato-container {
    width: 500px;
  }

  .contato img {
    height: 50px;
  }
  
  .phones-item:last-child img {
    width: 54px;
  }

  .phones-item {
    margin-bottom: 30px;
  }

  /* FOOTER */

  .footer-container {
    width: 500px;
  }

  footer p {
    font-size: 10px;
  }

}

/* MOBILE */

@media screen and (max-width: 450px) {
  .container {
    width: 300px;
  }

  /* HEADER */

  .header-container {
    width: 300px;
    height: 80px;
    flex-direction: column;
  }

  .logo {
    width: 150px;
    margin-top: 10px;
  }

  .menu li {
    margin: 10px;
    font-size: 10px;
  }

  /* INTRO */

  .intro {
    height: 320px;
    background-size: cover;
    
  }

  .intro h1 {
    font-size: 32px;
  }

  .intro h2 {
    font-size: 14px;
  }

  /* PRODUTOS */

  .produtos-container {
    width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template: 'nossos-produtos'
                    'produtos-img'
                    / 1fr;
  }

  .nossos-produtos {
    height: auto;
  }

  .produtos h2 {
    font-size: 32px;
    width: 190px;
    margin-left: 15px;
    margin-bottom: 32px;
  }

  .produtos h2::after {
    left: -14px;
    height: 90px;
  }

  .nossos-produtos p {
    font-size: 14px;
    width: 300px;
    margin-bottom: 32px;
  }

  .button-desktop {
    display: none;
  }

  .button-mobile {
    display: flex !important;
  }

  .button {
    width: 300px;
    margin-bottom: 32px;
    font-size: 16px;
  }

  .button img {
    width: 13px !important;
  }
  
  .produtos-img{
    grid-template-areas: 'img img'
                          'img img'
                          'btn btn';
  }

  .produtos-img img {
    width: 145px;
  }

  /* SOBRE */

  .sobre-container {
    width: 300px;
  }

  .sobre-item {
    width: 300px;
  }
  
  .title-fca {
    font-size: 32px;
  }
  
  .title-fca::after {
    width: 192px;
  }

  .title-fca span {
    font-weight: 400;
  }
  
  .sobre-item p {
    font-size: 14px;
    color: #fff;
  }

  /* ORCAMENTO */

  .orcamento-container {
    width: 300px;
  }

  .orcamento-title {
    width: 300px;
  }

  .orcamento-title p {
    margin-bottom: 64px;
  }

  .orcamento p {
    font-size: 14px;
  }

  .orcamento-itens {
    width: 300px;
  }
  
  .orcamento-itens p {
    width: 250px;
  }

  .orcamento-itens img {
    width: 32px;
  }

  /* CONTATO */

  .contato-container {
    width: 300px;
  }

  .contato img {
    height: 50px;
  }
  
  .phones-item:last-child img {
    width: 54px;
  }

  /* FOOTER */

  .footer-container {
    width: 300px;
    flex-direction: column;
    justify-content: space-around;
  }
}